@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CONIT</h1>
    <p class="lead">CONIT is a free web platform for building different products with our instructions and checkong part lists.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>